/*body {
  background-color: rgb(22, 77, 120);
  background-size: cover;
  min-height: 100%;
}*/

html {
  height: 100%;
}
body {
  height: 100%;

  margin-bottom: 50px;
  background-repeat: no-repeat;

  background-attachment: fixed;
  text-align: center;
}
body {
  background-image: linear-gradient(
    to right top,
    #00060e,
    #222324,
    #4e505269,
    #696e6e,
    #9da3a3
  );
}

.log {
  background-color: rgb(26, 26, 26);
  width: 350px;
  height: 30px;
  padding-top: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 0ch;

  font-size: 20px;
}

.log {
  font-family: "Lato", sans-serif;
  color: aliceblue;
}

.container {
  background-color: rgb(241, 247, 252);
  height: auto;
  width: 350px;
  margin-left: 40%;
  margin-right: 60%;
  margin-top: 5%;
  margin-bottom: 20%;
  border-radius: 12px;
  border: #77797a53 6px solid;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
}

.memberdata {
  margin-top: 20px;
  margin-bottom: -10px;
}

.abc {
  width: 80%;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #005f8f1b;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

.cba {
  width: 80%;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #005f8f1b;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

.botoncitu {
  display: inline-block;
  margin-top: 20px;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
}

/*.access {
  margin-right: 15px;
  color: rgb(255, 255, 255);
  background-color: #115591;
  border-radius: 4px;
  padding: 10px;
  box-shadow: none;
  cursor: pointer;
}*/

button,
input[type="submit"],
input[type="button"] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 26, 26);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  transition: 0, 3s;
}
.access {
  padding: 15px;
}
.register {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 26, 26);
  border-radius: 4px;
  padding: 10px;
  transition: 0, 3s;
}

.access:hover,
.register:hover {
  background-color: rgb(235, 60, 77);
}
/*
  *
  * Footer
  *
  *********************************/

footer .enlace-bajo a {
  text-decoration: none;
  align-content: center;
  color: rgb(255, 255, 255);
  font-size: 10px;
  margin: auto 10px;
}

footer .enlace-bajo {
  position: relative;
  padding: 20px;
}

section {
  display: inline;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.logo-bajo {
  width: 15px;
  height: 15px;
}

.separator p {
  font-size: 13px;
  color: rgb(5, 105, 52);
}

.separator {
  margin-top: 20px;
  border-top: 1px solid rgba(10, 10, 10, 0.792);
  text-align: center;
}
footer {
  background-color: rgb(73, 70, 70);
  position: sticky;

  bottom: 0;
  padding-bottom: 5%;
  width: 100%;

  height: 60px; /* Height of the footer */
}
